{% extends  'basic.html' %}
{% load static %}

{% block title %}
    {{ pageTitle }}
{% endblock %}

{% block keywords %}
    {{ pageKeywords }}
{% endblock %}

{% block description %}
    {{ pageDescription }}
{% endblock %}

{% block css %}
    {{ block.super }}
{% endblock %}



{% block content %}
    <div class="page-header">
        <div class="container">
            <h1 class="page-header__title  display-1">О нас</h1>
        </div>
    </div><!-- /.page-header -->

    <div class="breadcrumbs">
        <div class="container" itemscope itemtype="http://schema.org/BreadcrumbList">
				<span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="{% url 'index' %}" class="home">Главная</a>
				</span>
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<span itemprop="name">О нас</span>
				</span>
        </div><!-- /.container -->
    </div><!-- /.breadcrumbs -->

    <div class="container margin-bottom-30">
        <div class="row margin-bottom-30">
            <main id="main" class="site-main  col-xs-12  col-lg-12 " role="main">
{#                <div class=" about-img">#}
{#                    <img src="{% static 'images/about1.jpg' %}" alt="">#}
{#                    <img src="{% static 'images/about2.jpg' %}" alt="">#}
{#                </div>#}
                <p>В 2016 году несколько специалистов, каждый из которых имеет опыт ведения строительного проекта с нуля и до сдачи в эксплуатацию, объединились в наш коллектив.</p>
                <p>Помогаем подготовить закрывающую документацию на любой вид строительно-монтажных работ: земляные работы, общестроительные работы, внутренние и наружные инженерные системы, специальные работы, благоустройство и т.п.</p>
                <p>Готовим исполнительную документацию, разрабатываем проект производства работ, основываясь на имеющихся ресурсах заказчика и оптимальных трудозатратах.</p>
                <p>Мы ориентированы на индивидуальный подход, поэтому наши заказчики получают качественную и всестороннюю поддержку в сфере сопровождения документооборота в строительстве. Чтобы эта поддержка всегда соответствовала актуальным нормам, мы постоянно повышаем уровень своей квалификации, находимся в курсе последних изменений нормативной документации в строительстве</p>
                <p>Результатом нашего сотрудничества являются подготовленные по современным стандартам качества <strong>документы</strong> и их <strong>защита у заказчика</strong>.</p>
                <p>С нами Вы сможете освободить дополнительное время и силы в рабочем процессе, и при этом вовремя получать всю необходимую исполнительную документацию!</p>
            </main>
        </div><!-- /.row -->
    </div><!-- /.container -->
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}
