{% extends  'basic.html' %}
{% load static %}

{% block title %}
    {{ pageTitle }}
{% endblock %}

{% block keywords %}
    {{ pageKeywords }}
{% endblock %}

{% block description %}
    {{ pageDescription }}
{% endblock %}

{% block css %}
    {{ block.super }}
{% endblock %}



{% block content %}
    <div class="page-header">
        <div class="container">
            <h1 class="page-header__title  display-1">О нас</h1>
        </div>
    </div><!-- /.page-header -->

    <div class="breadcrumbs">
        <div class="container" itemscope itemtype="http://schema.org/BreadcrumbList">
				<span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="{% url 'index' %}" class="home">Главная</a>
				</span>
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<span itemprop="name">О нас</span>
				</span>
        </div><!-- /.container -->
    </div><!-- /.breadcrumbs -->

    <div class="container margin-bottom-30">
        <div class="row margin-bottom-30">
            <main id="main" class="site-main  col-xs-12  col-lg-12 " role="main">
                <p>Наш коллектив работает 2016 года, в который входят специалисты, проверенные временем. Каждый сотрудник имеет опыт ведения строительного объекта с нуля и до сдачи его в эксплуатацию.</p>
                <p>Мы поможем Вам подготовить закрывающую документацию на любой вид строительно-монтажных работ: земляные работы, общестроительные работы, внутренние и наружные инженерные системы, специальные работы, благоустройство и т.п.</p>
                 <p>Подготовим исполнительную документацию, разработаем проект производства работ, основываясь на фактически имеющихся ресурсах у организации и при оптимальных трудозатратах. Благодаря индивидуальному подходу наши заказчики получают качественную и всестороннюю поддержку в сфере сопровождения документооборота в строительстве.</p>
                 <p>Мы постоянно повышаем уровень своей квалификации, чтобы соответствовать всем актуальным нормам. Конечной точкой нашего труда являются документы, подготовленные в соответствии со всеми современными стандартами качества. Мы отслеживаем все последние изменения нормативной документации в строительстве.</p>
                 <p>С нами Вам не придётся тратить своё время на документооборот, мы возьмём его в свои руки, гарантировав результат!</p>
             </main>
        </div><!-- /.row -->
    </div><!-- /.container -->
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}
