{% extends  'basic.html' %}
{% load static %}
{% block title %}
    {{ block.super }} - ГЛАВНАЯ
{% endblock %}
{% block keywords %}
    {{ block.super }}
{% endblock %}
{% block description %}
    {{ block.super }}
{% endblock %}
{% block content %}
    <div class="jumbotron">

        <div class="carousel slide js-jumbotron-slider" id="headerCarousel" data-ride="carousel" data-interval="5000">

            <div class="carousel-inner">
                {% for banner in allBanners %}
                    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %} ">
                        <img src="{{ banner.image.url }}" srcset="{{ banner.image.url }} 1920w, {{ banner.image.url }} 425w" sizes="100vw" alt="{{ banner.bigText }}">
                        <div class="container">
                            <div class="jumbotron-content">
                                <h3 class="jumbotron-content__title">{{ banner.bigText }}</h3>
                                <div class="jumbotron-content__description">
                                    <p>
                                        {{ banner.smallText }}
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" href="{{ banner.buttonUrl }}" target="_self">{{ banner.buttonText }}</a>
                                        <a class="btn btn-tertiary" href="{{ banner.button1Url }}" target="_self">{{ banner.button1Text }}</a>
                                    </p>
                                </div><!-- /.jumbotron-content__description -->
                            </div><!-- /.jumbotron-content -->
                        </div><!-- /.container -->
                    </div><!-- /.carousel-item -->
                {% endfor %}
            </div><!-- /.carousel-inner -->
            <div class="jumbotron__extras">
                <div class="container">
                    <a class="left jumbotron__control" href="#headerCarousel" role="button" data-slide="prev">
                        <i class="fa fa-caret-left"></i>
                    </a>
                    <a class="right jumbotron__control" href="#headerCarousel" role="button" data-slide="next">
                        <i class="fa fa-caret-right"></i>
                    </a>
                    <div class="jumbotron__widgets hidden-md-down pull-right">
                        <div class="widget">
                            <div class="icon-box">
                                <i class="fa fa-phone"></i>
                                <div class="icon-box__text">
                                    <h4 class="icon-box__title">Телефон:</h4>
                                    <span class="icon-box__subtitle">+7 (977) 301-71-88</span>
                                </div>
                            </div><!-- /.icon-box -->
                        </div>
                        <div class="widget">
                            <div class="icon-box">
                                <i class="fa fa-clock-o"></i>
                                <div class="icon-box__text">
                                    <h4 class="icon-box__title">Время работы:</h4>
                                    <span class="icon-box__subtitle">ежедневно с 8:00 до 20:00</span>
                                </div>
                            </div><!-- /.icon-box -->
                        </div>
                        <div class="widget">
                            <div class="icon-box">
                                <i class="fa fa-envelope-o"></i>
                                <div class="icon-box__text">
                                    <h4 class="icon-box__title">E-mail:</h4>
                                    <span class="icon-box__subtitle">isp@pto-msk.com</span>
                                </div>
                            </div><!-- /.icon-box -->
                        </div>
                    </div><!-- /.jumbotron__widgets -->
                </div><!-- /.container -->
            </div><!-- /.jumbotron__extras -->
        </div><!-- /.carousel -->
    </div><!-- /.jumbotron -->
    <section class="services">
        <div class="container">
            <div class="row">
                {% for service in allSevices %}
                    <div class="col-lg-4 page-box--block">
                        <a class="page-box__picture" href="{% url 'service' service.nameSlug %}">
                            <img src="{{ service.image.url }}" width="360" height="240" srcset="{{ service.image.url }} 360w, {{ service.image.url }} 840w" sizes="(min-width: 992px) 360px, calc(100vw - 30px)" alt="{{ service.name }}">
                        </a>
                        <div style="border-bottom: 1px solid; margin-bottom: 10px;" class="page-box__content">
                            <h4 class="page-box__title"><a href="{% url 'service' service.nameSlug %}">{{ service.name }}</a></h4>
                            <p class="page-box__text">
                                {{ service.short_description }}
                            </p>

                        </div>
                    <div style="display: flex; justify-content: space-between; align-items: center"><p style="display: inline-block;color: #333333;font-weight: 600; margin: 0;" >от {{ service.price }} руб</p><a href="{% url 'service' service.nameSlug %}" class="btn btn-sm btn-primary">Заказать</a></div>
                    </div><!-- /.col -->
                {% endfor %}
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.services -->
    <section class="cta">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="call-to-action__text">
                        <h4 class="call-to-action__title">
                            Вам нужны професcионалы в сфере подготовки документации?
                        </h4>
                    </div>
                    <div class="call-to-action__button">
                        <a class="btn btn-primary" href="{% url 'services' %}" target="_self">Прайс</a>
                        <a class="btn btn-secondary" href="{% url 'projects' %}" target="_self">Проекты</a>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.cta -->
    <section class="promise">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>Результат сотрудничества</h3>                    <p>
                    Выбирая нас, Вы выбираете работу в команде, где каждый участник в первую очередь работает на результат, двигаясь к конкретной цели - законченному проекту и заказчику, которому запомнится этот опыт как лучшее обращение к наёмным специалистам.
                </p>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.promise -->
    <section style="margin-top: 60px" class="partners">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="widget-title"><span>Наши заказчики</span></h3>
                    <div class="owl-carousel">
                        <div style="    height: 250px;   display: flex; align-items: center;">
                            <img src="{% static 'images/1.png' %}" alt="">
                        </div>
                        <div style="    height: 250px;   display: flex; align-items: center;">
                            <img src="{% static 'images/2.png' %}" alt="">
                        </div>
                        <div style="    height: 250px;   display: flex; align-items: center;">
                            <img src="{% static 'images/3.png' %}" alt="">
                        </div>
                        <div style="    height: 250px;   display: flex; align-items: center;">
                            <img src="{% static 'images/4.png' %}" alt="">
                        </div>
                        <div style="    height: 250px;   display: flex; align-items: center;">
                            <img src="{% static 'images/5.png' %}" alt="">
                        </div>
                        <div style="    height: 250px;   display: flex; align-items: center;">
                            <img src="{% static 'images/6.png' %}" alt="">
                        </div>
                        <div style="    height: 250px;   display: flex; align-items: center;">
                            <img src="{% static 'images/7.png' %}" alt="">
                        </div>
                    </div>
                </div><!-- /.logo-panel -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.partners -->
{% endblock %}








