{% extends  'basic.html' %}
{% load static %}
{% block title %}
    {{ block.super }}
{% endblock %}
{% block keywords %}
    {{ block.super }}
{% endblock %}
{% block description %}
    {{ block.super }}
{% endblock %}
{% block content %}
    <div class="jumbotron">

        <div class="carousel slide js-jumbotron-slider" id="headerCarousel" data-ride="carousel" data-interval="5000">

            <div class="carousel-inner">
                {% for banner in allBanners %}
                    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %} ">
                        <img src="{{ banner.image.url }}" srcset="{{ banner.image.url }} 1920w, {{ banner.image.url }} 425w" sizes="100vw" alt="{{ banner.bigText }}">
                        <div class="container">
                            <div class="jumbotron-content">
                                <h3 class="jumbotron-content__title">{{ banner.bigText }}</h3>
                                <div class="jumbotron-content__description">
                                    <p>
                                        {{ banner.smallText }}
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" href="{{ banner.buttonUrl }}" target="_self">{{ banner.buttonText }}</a>
                                        <a class="btn btn-tertiary" href="{{ banner.button1Url }}" target="_self">{{ banner.button1Text }}</a>
                                    </p>
                                </div><!-- /.jumbotron-content__description -->
                            </div><!-- /.jumbotron-content -->
                        </div><!-- /.container -->
                    </div><!-- /.carousel-item -->
                {% endfor %}
            </div><!-- /.carousel-inner -->
            <div class="jumbotron__extras">
                <div class="container">
                    <a class="left jumbotron__control" href="#headerCarousel" role="button" data-slide="prev">
                        <i class="fa fa-caret-left"></i>
                    </a>
                    <a class="right jumbotron__control" href="#headerCarousel" role="button" data-slide="next">
                        <i class="fa fa-caret-right"></i>
                    </a>
                    <div class="jumbotron__widgets hidden-md-down pull-right">
                        <div class="widget">
                            <div class="icon-box">
                                <i class="fa fa-phone"></i>
                                <div class="icon-box__text">
                                    <h4 class="icon-box__title">Телефон:</h4>
                                    <span class="icon-box__subtitle">+7 (977) 301-71-88</span>
                                </div>
                            </div><!-- /.icon-box -->
                        </div>
                        <div class="widget">
                            <div class="icon-box">
                                <i class="fa fa-clock-o"></i>
                                <div class="icon-box__text">
                                    <h4 class="icon-box__title">Время работы:</h4>
                                    <span class="icon-box__subtitle">ежедневно с 8:00 до 20:00</span>
                                </div>
                            </div><!-- /.icon-box -->
                        </div>
                        <div class="widget">
                            <div class="icon-box">
                                <i class="fa fa-envelope-o"></i>
                                <div class="icon-box__text">
                                    <h4 class="icon-box__title">E-mail:</h4>
                                    <span class="icon-box__subtitle">isp@pto-msk.com</span>
                                </div>
                            </div><!-- /.icon-box -->
                        </div>
                    </div><!-- /.jumbotron__widgets -->
                </div><!-- /.container -->
            </div><!-- /.jumbotron__extras -->
        </div><!-- /.carousel -->
    </div><!-- /.jumbotron -->
    <section class="services">

      <h2 class="widget-title text-center"><span>Окончательный расчет после принятия документов заказчиком.<br> Ваша гарантия соблюдения качества и сроков! </span></h2>
        <div class="container">
        {% if messages %}
                    {% for message in messages %}
                        {% if message.tags %}  <div style="margin-bottom: 30px;border: 2px dashed green;color: green;text-align: center;padding: 15px 0;">{% endif %} <strong> {{ message }}</strong>    </div>
                    {% endfor %}
                {% endif %}
            <div class="row">
                {% for service in allSevices %}
                    <div style="margin-bottom: 20px" class="col-lg-4 page-box--block m-b">
                        <a class="page-box__picture" href="{% url 'service' service.nameSlug %}">
                            <img src="{{ service.image.url }}" width="360" height="240" srcset="{{ service.image.url }} 360w, {{ service.image.url }} 840w" sizes="(min-width: 992px) 360px, calc(100vw - 30px)" alt="{{ service.name }}">
                        </a>
                        <div style="border-bottom: 1px solid; margin-bottom: 10px;" class="page-box__content">
                            <h4 class="page-box__title"><a href="{% url 'service' service.nameSlug %}">{{ service.name }}</a></h4>
                            <p class="page-box__text">
                                {{ service.short_description }}
                            </p>

                        </div>
                        <div style="display: flex; justify-content: space-between; align-items: center"><p style="display: inline-block;color: #333333;font-weight: 600; margin: 0;" >от {{ service.price }} т.р.</p><a href="javascript: void(0)" onclick="openModal('{{ service.name }}')" class="btn btn-sm btn-primary">Заказать</a></div>
                    </div><!-- /.col -->
                {% endfor %}
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.services -->
{#    <section class="cta">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-md-12">#}
{#                    <div class="call-to-action__text">#}
{#                        <h4 class="call-to-action__title">#}
{#                            Вам нужны професcионалы в сфере подготовки документации?#}
{#                        </h4>#}
{#                    </div>#}
{#                    <div class="call-to-action__button">#}
{#                        <a class="btn btn-primary" href="{% url 'services' %}" target="_self">Прайс</a>#}
{#                        <a class="btn btn-secondary" href="{% url 'projects' %}" target="_self">Проекты</a>#}
{#                    </div>#}
{#                </div><!-- /.col -->#}
{#            </div><!-- /.row -->#}
{#        </div><!-- /.container -->#}
{#    </section><!-- /.cta -->#}
    {% if indexText %}
        <section style="margin-bottom: 50px;" class="index-text">
            <div class="container">
                {{ indexText | safe }}
            </div>
        </section>
    {% endif %}
    <section class="shema ">
        <div class="container">

            <h2 class="widget-title text-center"><span>Порядок работы</span></h2>

            <div  class="shema-wrapper">

                <div class="shema-item">
                    <img src="{% static 'images/s1.png' %}" alt="">
                    <div class="shema-item-info">
                        <h4>Звонок</h4>
                        <p>За <strong>5 минут</strong> выясняем детали заказа</p>

                    </div>
                </div>
                 <div class="shema-item">
                    <img src="{% static 'images/s2.png' %}" alt="">
                    <div class="shema-item-info">
                        <h4>Расчет</h4>
                        <p>Готовим информацию по этапам, срокам и стоимости работ в <strong>течении 1 часа</strong></p>

                    </div>
                </div>
                 <div class="shema-item">
                    <img src="{% static 'images/s3.png' %}" alt="">
                    <div class="shema-item-info">
                        <h4>Договор</h4>
                        <p>Составляем договор с подробным указанием объема и сроков работ за <strong>4 часа</strong></p>

                    </div>
                </div>
                 <div class="shema-item">
                    <img src="{% static 'images/s4.png' %}" alt="">
                    <div class="shema-item-info">
                        <h4>Авансовый платеж</h4>
                        <p>Получаем 50% оплаты</p>

                    </div>
                </div>
                 <div class="shema-item">
                    <img src="{% static 'images/s5.png' %}" alt="">
                    <div class="shema-item-info">
                        <h4>Работа</h4>
                        <p>Выполняем качественно и строго по согласованному графику</p>

                    </div>
                </div>
            </div>


            <div class="shema-bottom">
                  <h4 style="font-size: 20px" class="widget-title margin-bottom-30">
                            Вам нужны професcионалы в сфере подготовки документации?
                        </h4>
             <form  method="post" action="{% url 'callback' %}" class="contact-form aSubmit" enctype="multipart/form-data">{% csrf_token %}

                        <div class="row">
                            <div class="col-xs-12 col-md-4">
									<span class="contact-form-control-wrap email">
										<input style="margin-bottom: 0" required name="{{ form.name.name }}" value="" size="40" class="contact-form-control contact-text contact-email contact-validates-as-required contact-validates-as-email form-control" aria-required="true"  aria-invalid="false" placeholder="Ваше имя" type="text" >
									</span>
                            </div>
                             <div class="col-xs-12 col-md-4">
									<span class="contact-form-control-wrap email">
										<input style="margin-bottom: 0"  name="{{ form.phone.name }}" value="" size="40" class="phone-field contact-form-control contact-text contact-email contact-validates-as-required contact-validates-as-email form-control" aria-required="true" required aria-invalid="false" placeholder="Телефон" type="text" >
									</span>
                            </div>
                            <input style="display: none" type="text" name="age" value="">
                            <input style="display: none" type="checkbox" name="agree">
                            <textarea style="display: none"  name="messages" ></textarea>
                            <input type="hidden" id="service_name" name="{{ form.service.name }}" value="">
                            <input type="hidden"  name="form_type" value="modal">
                            <div class="col-xs-12 col-md-4">
                                <button id="modal_btn" style="width: 100%" class="contact-form-control  btn btn-primary" onclick="sendS()" type="submit">Заказать услугу</button>
                            </div>
                        </div>

                    </form>
            </div>



        </div>
    </section>
    <div class="container">
    <h2 class="widget-title text-center"><span>В 93% случаев сдаем документы заказчику с первого раза.<br> В случае непринятия дорабатываем за свой счет. </span></h2>

    </div>
    <section class="promise">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="margin-bottom-50">На счету нашей компании</h3>
                    <div class="counter-wrapper">
                        <div class="counter-item">
                            <img class="margin-bottom-30" width="64" src="{% static 'images/users.png' %}" alt="">
                            <p>Заказчики</p>
                            <span class="counter" data-to="53" data-time="2000" data-fps="20"></span>
                        </div>
                        <div class="counter-item">

                            <img class="margin-bottom-30" width="64" src="{% static 'images/act.png' %}" alt="">

                            <p>Акты</p>
                            <span  class="counter" data-to="5144" data-time="2000" data-fps="20"></span>
                        </div>
                        <div class="counter-item">
                            <img class="margin-bottom-30" width="64" src="{% static 'images/blueprint.png' %}" alt="">

                            <p>Схемы</p>
                            <span class="counter" data-to="3397" data-time="2000" data-fps="20"></span>
                        </div>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.promise -->

    <section style="margin-top: 60px" class="partners">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="widget-title"><span>Наши заказчики</span></h3>
                    <div class="owl-carousel">
                        <div style="    height: 250px;   display: flex; align-items: center;">
                            <img src="{% static 'images/1.png' %}" alt="Лужники">
                        </div>
                        <div style="    height: 250px;   display: flex; align-items: center;">
                            <img src="{% static 'images/2.png' %}" alt="Мужик на коне">
                        </div>
                        <div style="    height: 250px;   display: flex; align-items: center;">
                            <img src="{% static 'images/3.png' %}" alt="Метро">
                        </div>
                        <div style="    height: 250px;   display: flex; align-items: center;">
                            <img src="{% static 'images/4.png' %}" alt="Лидер инвест">
                        </div>
                        <div style="    height: 250px;   display: flex; align-items: center;">
                            <img src="{% static 'images/5.png' %}" alt="Ingrad">
                        </div>
                        <div style="    height: 250px;   display: flex; align-items: center;">
                            <img src="{% static 'images/6.png' %}" alt="Ржд">
                        </div>
                        <div style="    height: 250px;   display: flex; align-items: center;">
                            <img src="{% static 'images/7.png' %}" alt="ФОДД">
                        </div>
                    </div>
                </div><!-- /.logo-panel -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.partners -->
    <script>
        // Class counter
        let temp = 0
        function Counter(data) {
            var _default = {
                fps: 20,
                from: 0,
                time: 2000,
            }

            for (var attr in _default) {
                if (typeof data[attr] === 'undefined') {
                    data[attr] = _default[attr];
                }
            }

            if (typeof data.to === 'undefined')
                return;

            data.fps = typeof data.fps === 'undefined' ? 20 : parseInt(data.fps);
            data.from = typeof data.from === 'undefined' ? 0 : parseFloat(data.from);

            var frames = data.time / data.fps,
                inc = (data.to - data.from) / frames,
                val = data.from;

            if (typeof data.start === 'function') {
                data.start(data.from, data)
            }
            var interval = setInterval(function() {
                frames--;
                val += inc;

                if (val >= data.to) {
                    if (typeof data.complete === 'function') {

                        data.complete(data.to, data)
                    }
                    console.log(interval);
                    clearInterval(interval);
                } else if (typeof data.progress === 'function') {
                    data.progress(val, data)
                }
            }, data.fps);
        }


        const checkPromise = el => {
            const scroll = window.scrollY || window.pageYOffset
            const boundsTop = el.getBoundingClientRect().top + scroll

            const viewport = {
                top: scroll,
                bottom: scroll + window.innerHeight,
            }

            const bounds = {
                top: boundsTop,
                bottom: boundsTop + el.clientHeight,
            }
            if(bounds.bottom >= viewport.top && bounds.bottom <= viewport.bottom){
                temp = 1
                return true
            }
            else {
                return  false
            }


        }


        document.addEventListener( 'DOMContentLoaded', () => {
            const promise = document.querySelector( '.promise' )
            const handler = () => raf( () => {
                if (temp === 0){
                    if (checkPromise( promise )){
                        if(temp === 1){
                            // Auto-counter from HTML API
                            var counters = document.getElementsByClassName('counter'),
                                print = function(val, data) {
                                    data.element.innerHTML = parseInt(val);
                                }

                            for (var i = 0, l = counters.length; i < l; i++) {
                                // Loads from HTML dataset
                                var data = {};
                                for (var attr in counters[i].dataset) {
                                    data[attr] = counters[i].dataset[attr];
                                }

                                // Save element and callbacks
                                data.element = counters[i];
                                data.start = print;
                                data.progress = print;
                                data.complete = print;

                                // Creates the counter
                                new Counter(data);


                            }

                        }

                    }
                }


            } )

            handler()
            window.addEventListener( 'scroll', handler )
        } )

        const raf =
            window.requestAnimationFrame ||
            window.webkitRequestAnimationFrame ||
            window.mozRequestAnimationFrame ||
            function( callback ) {
                window.setTimeout( callback, 1000 / 60 )

            }

    </script>
{% endblock %}








