{% extends  'basic.html' %}
{% load static %}

{% block title %}
    {{ pageTitle }}
{% endblock %}

{% block keywords %}
    {{ pageKeywords }}
{% endblock %}

{% block description %}
    {{ pageDescription }}
{% endblock %}

{% block css %}
    {{ block.super }}
{% endblock %}



{% block content %}
    <div class="page-header">
        <div class="container">
            <h1 class="page-header__title  display-1">{{ curService.pageH1 }}</h1>
        </div>

    </div><!-- /.page-header -->
    <div style="margin-bottom: 0" class="breadcrumbs">
        <div class="container" itemscope itemtype="http://schema.org/BreadcrumbList">
				<span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="{% url 'index' %}" class="home">Главная</a>
				</span>
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="{% url 'services' %}" class="home">Все услуги</a>
				</span>
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<span itemprop="name">{{ curService.name }}</span>
				</span>
        </div><!-- /.container -->
    </div><!-- /.breadcrumbs -->
     <section style="padding: 20px 0;  margin-bottom: 40px;" class="promise">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 style="margin: 0; font-size: 1.5rem">Пришлите нам техзадание и получите оперативный расчет стоимости и сроков</h3>
                    <p>Прикрепите файл, созданный в любом редакторе, и мы подготовим расчет</p>
                </div><!-- /.col -->
                  <div class="col-lg-12">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags %}  <div style="margin-bottom: 10px; color: green;">{% endif %} <div style="margin-bottom: 30px;border: 2px dashed green;color: green;text-align: center;padding: 15px 0;">{% endif %} <span class="success_msg_cl" id="success_msg_id"><strong> {{ message }}</strong> </span>     </div>
                    {% endfor %}
                {% endif %}
                <div role="form" class="contact">
                    <form data-toggle="validator" method="post" action="{% url 'callback' %}" class="contact-form aSubmit" enctype="multipart/form-data">{% csrf_token %}
                        <div style="display:none"><input type="text" name="maximus" value=""></div>
                        <input type="hidden" name="theSubject" value="StructurePress Contact Request">

                        <div class="row">
                            <div class="col-xs-12 col-md-4">
									<span class="contact-form-control-wrap email">
										<input style="margin-bottom: 0" name="{{ form.phone.name }}" value="" size="40" class="phone-field contact-form-control contact-text contact-email contact-validates-as-required contact-validates-as-email form-control" aria-required="true" required aria-invalid="false" placeholder="Телефон" type="text" >
									</span>
                            </div>
                             <div class="col-xs-12 col-md-4">
									<span class="contact-form-control-wrap email">
										<input style="margin-bottom: 0" name="{{ form.file.name }}" value="" size="40" class="contact-form-control contact-text contact-email contact-validates-as-required contact-validates-as-email form-control" aria-required="true" required aria-invalid="false" placeholder="Файл" type="file" >
									</span>
                            </div>
                            <input style="display: none" type="text" name="age" value="">
                            <input style="display: none" type="checkbox" name="agree">
                            <textarea style="display: none"  name="messages" ></textarea>
                            <div class="col-xs-12 col-md-4">
                                <button style="width: 100%" class="contact-form-control  btn btn-primary" type="submit">ПОЛУЧИТЬ РАСЧЕТ</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.promise -->
    <div class="container margin-bottom-30">

        <div class="row">

            <main id="main" class="site-main  col-xs-12  col-lg-9  col-lg-push-3" role="main">
                {% if curService.pageSpecialText %}
                <div style="border-color: #edac15; " class="portfolio-grid__card portfolio-grid__card--dummy js-wpg-card" >
										<div class="portfolio-grid__card-block text-center">

											<h5>{{ curService.pageSpecialText }}</h5>

										</div>
									</div>
                {% endif %}
                <div class="row margin-bottom-30">
                    <div class="col-md-12">
                        {{ curService.description | safe }}
                    </div><!-- /.col -->
                </div><!-- /.row -->
             <h4 style="font-size: 20px" class="widget-title margin-bottom-30 text-center">
                            Скидка 20% на второй и последующий заказы.<br>
                            Узнайте, как стать постоянным клиентом.

                        </h4>
             <form data-toggle="validator" method="post" action="{% url 'callback' %}" class="contact-form aSubmit" enctype="multipart/form-data">{% csrf_token %}

                        <div class="row">
                            <div class="col-xs-12 col-md-4">
									<span class="contact-form-control-wrap email">
										<input style="margin-bottom: 0" name="{{ form.name.name }}" value="" size="40" class="contact-form-control contact-text contact-email contact-validates-as-required contact-validates-as-email form-control" aria-required="true"  aria-invalid="false" placeholder="Ваше имя" type="text" >
									</span>
                            </div>
                             <div class="col-xs-12 col-md-4">
									<span class="contact-form-control-wrap email">
										<input style="margin-bottom: 0" name="{{ form.phone.name }}" value="" size="40" class="phone-field contact-form-control contact-text contact-email contact-validates-as-required contact-validates-as-email form-control" aria-required="true" required aria-invalid="false" placeholder="Телефон" type="text" >
									</span>
                            </div>
                            <input style="display: none" type="text" name="age" value="">
                            <input style="display: none" type="checkbox" name="agree">
                            <textarea style="display: none"  name="messages" ></textarea>
                            <input type="hidden" id="service_name" name="{{ form.service.name }}" value="">
                            <input type="hidden"  name="form_type" value="modal">
                            <div class="col-xs-12 col-md-4">
                                <button id="modal_btn" style="width: 100%" class="contact-form-control  btn btn-primary" onclick="sendS()" type="submit">Узнать</button>
                            </div>
                        </div>

                    </form>



            </main>

            <div class="col-xs-12  col-lg-3  col-lg-pull-9">
                <div class="sidebar widget widget_nav_menu" role="complementary">
                    <ul class="menu">
                        <li>
                            <a href="{% url 'services'%}">Все услуги</a>
                        </li>
                        {% for service in allSevices %}
                            <li {% if service.nameSlug == curService.nameSlug %}class="current-menu-item"{% endif %}>
                                <a href="{% url 'service' service.nameSlug %}">{{ service.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div><!-- /.sidebar -->
            </div><!-- /.col -->
        </div><!-- /.row -->

    </div><!-- /.container -->

{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}
