{% load static %}
	<footer>

			<div class="footer-top">

				<div class="container">

					<div class="row">

						<div class="col-xs-12 col-md-4">
							<div class="widget">
								<img src="{% static 'images/logo.webp' %}" alt="Footer Logo">

								<p style="font-size: 12px">
									ИСПОЛНИТЕЛЬНАЯ ДОКУМЕНТАЦИЯ от АОСР до ЗОС
								</p>
							</div>
						</div><!-- /.col -->

						<div class="col-xs-12 col-md-2">
							<div class="widget widget_nav_menu">
                                <h6 class="footer-top__headings">ссылки</h6>
								<ul class="menu">
									<li>
										<a href="{% url 'index' %}">Главная</a>
									</li>
									<li>
										<a href="{% url 'projects' %}">Проекты</a>
									</li>
									<li>
											<a href="{% url 'about' %}">О нас</a>
									</li>
									<li>
									    <a href="{% url 'contacts' %}">Контакты</a>
									</li>

								</ul>
							</div><!-- /.widget -->
						</div><!-- /.col -->

						<div class="col-xs-12 col-md-3">
							<div class="widget widget_nav_menu">
								<h6 class="footer-top__headings">Наши услуги</h6>
								<div>
									<ul class="menu">
										  {% for service in allSevices %}
                                            <li>
                                                <a href="#">{{ service.name }}</a>
                                            </li>
                                    {% endfor %}
									</ul>
								</div>
							</div>
						</div><!-- /.col -->

						<div class="col-xs-12 col-md-3">
							<div class="widget">
								<h6 class="footer-top__headings">Контакты</h6>
								<p>
									<span class="icon-container">
										<span class="fa fa-map-marker"></span>
									</span>
									Москва, Россия<br>
									<span class="icon-container">
										<span class="fa fa-phone"></span>
									</span>
									+7 (977) 301-71-88 <br>
									<span class="icon-container">
										<span class="fa fa-whatsapp"></span>
									</span>
									<a href="tel:+79773017188">+7 (977) 301-71-88</a>
									<br>
									<span class="icon-container">
										<span class="fa fa-clock-o"></span>
									</span>
									ежедневно с 8:00 до 20:00
								</p>
{#								<p>#}
{#									<a class="icon-container" href="https://www.facebook.com/ProteusThemes/" target="_self">#}
{#										<span class="fa fa-facebook-square"></span>#}
{#									</a>#}
{#									<a class="icon-container" href="https://twitter.com/chillyorange" target="_self">#}
{#										<span class="fa fa-twitter-square"></span>#}
{#									</a>#}
{#									<a class="icon-container" href="https://www.youtube.com/user/ProteusNetCompany" target="_self">#}
{#										<span class="fa fa-youtube-square"></span>#}
{#									</a>#}
{#									<a class="icon-container" href="https://github.com/chillyorange" target="_self">#}
{#										<span class="fa fa-github-square"></span>#}
{#									</a>#}
{#								</p>#}
							</div>
						</div><!-- /.col -->

					</div><!-- /.row -->

				</div><!-- /.container -->

			</div><!-- /.footer-top -->

			<div class="footer-middle">
				<i class="fa fa-2x fa-cc-visa"></i>
				<i class="fa fa-2x fa-cc-mastercard"></i>
				<i class="fa fa-2x fa-cc-amex"></i>
				<i class="fa fa-2x fa-cc-paypal"></i>
			</div><!-- /.footer-middle -->

			<div class="footer-bottom">
				<div class="container">
					<div class="footer-bottom__left">
						ИСПОЛНИТЕЛЬНАЯ ДОКУМЕНТАЦИЯ
					</div>
					<div class="footer-bottom__right">
						&copy; 2019 PTO-MSK.COM
					</div>
				</div>
			</div><!-- /.footer-bottom -->

		</footer>